@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Record Collection</h1>
</div>

<a href='/artists'><button>View Artists</button></a>
<a href='/artists/new'><button>Add a new artist</button></a>