@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Record Collection</h1>
</div>
<img src="~/img/records.jpg" alt="records">
<a href='/artists'><button>View Artists</button></a>
<a href='/artists/new'><button>Add a new artist</button></a>
<a href='/artists/search_by_artist'><button>Search for an artist</button></a>